.container{
    display: flex;
    justify-content: space-between;


}
.column{
    flex: 1;
    padding: 10px;
   
}
.column img{
    width: 10%;
    opacity: 0.3;
}

.column img:hover{
   cursor: pointer;
   opacity: 1;
}