* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0067bb;
    --primary-dark: #005091;
    --secondary-color: #f7d632;
    --text-light: #f5f5f5;
    --text-dark: #010101;
}

