body{
    background-color: lightpink;
    text-align: center;
    margin-top: 50px;
}

.todo-container{
background-color: white;
padding: 20px;
border-radius: 10px;
display: inline-block;
box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}
input{
    padding: 10px;
    width: 200px;
}
button{
    padding: 10px 15px;
    margin-left: 15px;
    cursor: pointer;
}
li{
    list-style: none;
    margin: 10px 0;
}
.completed{
    text-decoration: line-through;
    color: gray;
}