.header{
    border: 1px solid black;
    width: 500px;
}
.box1{
    border: 1px solid gray;
    width: 300px;
    margin-left: 50px;
}
.box2{
    border: 1px solid gray;
width: 300px;
margin-left: 50px;
}