/* Unvisited link */
/* a:link{
    color: #FF0000;
} */

/* Visited link */
a:visited {
    color: #0000ff;
}

/* Mouse over link */
a:hover {
    color: yellow;
}

/* selected link */
a:active {
    color: #0000ff;
}

/* p::first-line{
background-color: red;
} */

.desc::before {
    content: "Dje ka qene 26 nentori";
    color: red;
}

.desc::after {
    content: "Neser eshte 28 nentori";
    color: blue;
}

.detyra::before {
    content: "";
    width: 10px;
    height: 10px;
    color: red;
    background-color: red;
    display: inline-block;
}

.detyra::after {
    content: "";
    width: 10px;
    height: 10px;
    color: blue;
    background-color: blue;
    display: inline-block;
}